body{
    margin:0;
    color: black;
}

.intro-container{
    margin-top: 0vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: grid;
    justify-content: center;
    
}

.content-container{
    padding-top: 10vh;
}
#roughrider-logo{
    height: 20vh;
    width: auto;
    margin: auto;
}

#main-headline{
    font-size: 5vh;
    margin-top: 1vh;
   
}

.list-group-item{
    text-align: center;
    width: 50vw;
    margin: auto;
}